
@{
    ViewBag.Title = "New_Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="color:forestgreen;">
    @if (TempData["NewLogin"] != null)
    {@TempData["NewLogin"]}
</h2>


