<div class="card-body">
    <table>

        <tr>
            <td> <a href="#" class="card-link btn btn-primary" onclick="MemberDetails()" name="Profile" id="Profile">My Profile</a></td>

            <td> <a href="#" onClick="EventDelete()" ;>Edit</a></td>
        </tr>
        <tr>
            <td> <a href="#" class="card-link btn btn-primary" name="Account" id="Account">Account Information</a></td>

            <td><a href="#" onClick="EventDelete()" ;>Setting</a>  </td>
        </tr>

    </table>

      

</div>
<script>
    function MemberDetails() {

        $('#currentdatacontainer').load("/UserProfile/CurrentUserDetails");
                $('#MemDetails').modal();


    }

       

    
</script>
<div id="currentdatacontainer">

</div>