
@using Microsoft.AspNet.Identity
@using ComPro.Helpers
<h2> @UserInformation.UserName(User.Identity.GetUserName())</h2>

<div id="ProfilePicture"></div>
<div>

    <div class="col-md-10">
        <input type="file" id="ProfilePhoto" name="ProfilePhoto" />
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Save Image" id="saveImage" class="btn btn-default" />
    </div>
</div>


<form id="Pofile">

    <div  id="MyProfile"></div>
    <div  class="col-md-offset-2 col-md-10 ">
        <input type="button" value="Save" id="saveInfo"class="btn btn-default" />
        
    </div>
</form>

<script>
    $(document).ready(function () {

        $("#ProfilePicture").load("/UserProfile/ProfilePicture");
        $("#MyProfile").load("/UserProfile/MyInfoPage");
        
    });
    $("#saveImage").click(function () {
        var data = new FormData();
        var files = $("#ProfilePhoto").get(0).files;
        if (files.length > 0) {
            data.append("MyImages", files[0]);
        }

        $.ajax({
            url: "/UserProfile/UploadFile",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {

                $("#ProfilePicture").load("/UserProfile/ProfilePicture");
            },
            error: function (er) {
                alert(er);
            }

        });
    });

            $("#saveInfo").click(function (ev) {
        
                $.ajax({
                        url: "/UserProfile/MyInfoPage",
                        type: 'post',
                        dataType: 'json',
                        data: $('#Pofile').serialize(),
                    success: function (data) {
                        //$("#MyProfile").html(data);
                        alert("done");
                    },
                    error: function (data) {
                        alert("error");
                    }

                });

               

               
                

    });
    

</script>