@model IEnumerable<ComPro.Models.ChatModel>

@{
    ViewBag.Title = "Create_Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Chat</h2>


<table class="table">
   

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.ActionLink(item.Name, "Chat_History", new { email = @item.Email })*@
            @Html.ActionLink(item.PartnerName, "Message", new { Id = item.PartnerId })
        </td>
       
    </tr>
}

</table>
