
@model IEnumerable<ComPro.Models.ChatModel>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.PartnerName, "EventDetails", "Event", new { id = Int32.Parse(item.PartnerId) }, null)
               </td>

        </tr>


    }

</table>