
@model IEnumerable<ComPro.Models.ChatModel>




<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>

                 <a href="#" onclick="Latest_Member_Details(@item.PartnerId)">@item.PartnerName</a>

            </td>

        </tr>



    }

</table>



<script>

    function Latest_Member_Details(id) {


        var url = "/UserProfile/Details";

        $.ajax({

            url: url,
            data: { id: id },

            success: function (data) {
                $('#Latest_Detailscontainer').html(data);
                $('#MemDetails').modal();
            }

        });

    }
</script>
<div id="Latest_Detailscontainer">
</div>