@using ComPro.Helpers
@model IEnumerable<ComPro.Models.NoticeBoard>

@if (Model.Any())
{
    
    <h3>Few latest notices on the board</h3>
    <hr/>
    <div class="row">
    
        @foreach (var i in Model)
        {

            <div class="col-sm">
                <h5><a href="/NoticeBoard/Notice?Id=@i.Id">@i.Title</a> </h5>
                <i> Posted by: @i.Creator.Email.UserName() </i>
            </div>
        }
    </div>
}
