@{
    ViewBag.Title = "About";
}
<h3>About BPID</h3>
<hr />
<div class="justify-content-md-center jumbotron">
    BPID, Bangladeshi Professionals in Denmark, is a forum for all the professionals from Bangladesh living and working in Denmark.
    The primary goal of this forum is to create a network of professionals and hence support other individuals in the society to find and get a professional job in Denmark.
    To acheive the above this forum aims 
    <ul>
        <li>to create different work groups of similar job interest</li>
        <li>identify members who wants get education and provide information and guidelines through other members</li>
        <li>enrich the member database and make it searchable</li>
        <li>to create events and workshop</li>
        <li>and last but not the least to share information</li>
    </ul>
 
    BPID, works only with the professionals came from Bangladesh regardless their religion,gender and political views.
    Therefor the forum is open for all sorts of professional and career development discussion and activities.
</div>
