@{
    ViewBag.Title = "Home";
}

<script>
    $(document).ready(function () {

        $("#MemberName").load("/Home/LatestMember", function () {
            $("#memberLoader").hide();
        });
        $("#EventName").load("/Home/LatestEvent");
        $("#NoticeName").load("/Home/LatestNotice");

    });
</script>
<div id="common-message" style="display: none;"></div>
<div class="row justify-content-md-center" style="margin-bottom:100px;">
    <div class="col-md-12">
       


        <div style="margin-left:auto;margin-right:auto;margin-top:10px; text-align: center;background-color: #f8f9fa !important" class="jumbotron">
            <div id="fakeBox">
                <input type="text" name="Search" id="searchText" placeholder="Search for Members, their Posts and Events" class="fakeInput" />
            </div>
            <div style="padding-top: 10px;">
                <input type="button" class="btn btn-primary btn-custom " id="StartSearch" name="submit" value="Search" />
            </div>
            <div style="padding: 10px; font-size: large;font-style: italic">
                Perticipate in the BPID career survey <a href="/Home/Survey">here.</a>
            </div>
        </div>


        @if (!User.Identity.IsAuthenticated)
        {
            <div style="margin-left:auto;margin-right:auto;text-align: center;">
                <h4>Be a part of the professional network. <a href="/Account/Register" class="btn btn-success"> Register here</a></h4>
            </div>
        }

    </div>
</div>


<div class="row">

    <div id="MemberName">
        <div class="lds-ellipsis" id="memberLoader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 30px; padding-bottom: 10px;">
    <div id="NoticeName"></div>
</div>

<script>
    $(document).ready(function () {
        $("#StartSearch").click(function () {

            var SearchText = $("#searchText").val().trim();
            if (SearchText !== "") {
                var url = "/search?text=" + SearchText.replace(/\s/g, "-");
                window.location.href = url;
            }
            if (!SearchText) {
                $('#common-message').html('<div class="alert alert-success"><strong> Ooppsss !</strong> Empty search text.</div>');
                $('#common-message').delay(400).slideDown(400).delay(4000).slideUp(400);
            }

        });
    });


</script>