@{
    ViewBag.Title = "Home Page";
}

<script>
    $(document).ready(function () {

        $("#MemberName").load("/Home/LatestMember");
        $("#EventName").load("/Home/LatestEvent");
        $("#NoticeName").load("/Home/LatestNotice");

    });
</script>
<div class="row justify-content-md-center" style="margin-bottom:160px;">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {

        <div style="margin-left:auto;margin-right:auto;margin-top:10px;">
            <div id="fakeBox" style="float:left">
                <input type="text" name="Search" id="searchText" placeholder="Write at least 3 charecter" class="fakeInput" />
            </div>
            <div style="float:left">
                <input type="submit" class="btn btn-primary btn-custom " style="display: none;" id="StartSearch" name="submit" value="Search" />
            </div>
        </div>
}
    </div>
</div>


<div class="row">
    <div id="MemberName"></div>
</div>
<div class="row" style="padding-top: 30px; padding-bottom: 10px;">
    <div id="NoticeName"></div>
</div>

<script>
    $("#searchText").keyup(function () {
        if ($('#searchText').val().length > 4) {
            $('#StartSearch').show();
        }
        else {
            $('#StartSearch').hide();
        }

    });


</script>