@{
    ViewBag.Title = "Home";
}

<script>
    $(document).ready(function () {

        $("#MemberName").load("/Home/LatestMember", function() {
            $("#memberLoader").hide();
        });
        $("#EventName").load("/Home/LatestEvent");
        $("#NoticeName").load("/Home/LatestNotice");

    });
</script>
<div class="row justify-content-md-center" style="margin-bottom:100px;">
    <div class="col-md-12">
        @* @using (Html.BeginForm("Index", "Search", FormMethod.Get))
        {

            <div style="margin-left:auto;margin-right:auto;margin-top:10px; text-align: center;background-color: #f8f9fa !important" class="jumbotron">
                <div id="fakeBox">
                    <input type="text" name="Search" id="searchText" placeholder="Search for Members, their Posts and Events" class="fakeInput" />
                </div>
                <div style="padding-top: 10px;">
                    <input type="submit" class="btn btn-primary btn-custom " id="StartSearch" name="submit" value="Search" />
                </div>
            </div>
        }*@

       

            <div style="margin-left:auto;margin-right:auto;margin-top:10px; text-align: center;background-color: #f8f9fa !important" class="jumbotron">
                <div id="fakeBox">
                    <input type="text" name="Search" id="searchText" placeholder="Search for Members, their Posts and Events" class="fakeInput" />
                </div>
                <div style="padding-top: 10px;">
                    <input type="button" class="btn btn-primary btn-custom " id="StartSearch" name="submit" value="Search" />
                </div>
            </div>
      
        @if (!User.Identity.IsAuthenticated)
        {
            <div style="margin-left:auto;margin-right:auto;text-align: center;">
                <h4>Be a part of the professional network. <a href="/Account/Register" class="btn btn-success"> Register here</a></h4>
            </div>
        }

    </div>
</div>


<div class="row">
    
    <div id="MemberName">
        <div class="lds-ellipsis" id="memberLoader">
            <div></div>
            <div></div>
            <div></div>
            <div></div></div>
    </div>
</div>
<div class="row" style="padding-top: 30px; padding-bottom: 10px;">
    <div id="NoticeName"></div>
</div>

<script>
    $(document).ready(function () {
        $("#StartSearch").click(function () {

            var SearchText = $("#searchText").val();
            var url = " https://localhost:44307/Search?Search=" + SearchText;
            window.location.replace(url);
        });
    });


</script>