@{
    ViewBag.Title = "Home";
}
@section metatags
{
    <meta property="og:url" content="http://bpid.dk" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Bangladeshi Professionals in Denmark" />
    <meta property="og:description" content="Bangladeshi Professionals in Denmark (BPID) - is a voluntary organization
        in Denmark that dedicated to the overall achievement and advancement of professionals
        of Bangladeshi origin in Denmark" />
    @*<meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />*@
}
<script>
    $(document).ready(function () {

        $("#MemberName").load("/Home/LatestMember", function () {
            $("#memberLoader").hide();
        });
        $("#EventName").load("/Home/LatestEvent");
        $("#NoticeName").load("/Home/LatestNotice");

    });
</script>
<div id="common-message" style="display: none;"></div>
<div class="row justify-content-md-center" style="margin-bottom:100px;">
    <div class="col-md-12">



        <div style="margin-left:auto;margin-right:auto;margin-top:10px; text-align: center;background-color: #f8f9fa !important" class="jumbotron">
            <div id="fakeBox">
                <input type="text" name="Search" id="searchText" placeholder="Search for Members, their Posts and Events" class="fakeInput" />
            </div>
            <div style="padding-top: 10px;">
                <input type="button" class="btn btn-primary btn-custom " id="StartSearch" name="submit" value="Search" />
            </div>
           
        </div>


        @if (!User.Identity.IsAuthenticated)
        {
            <div style="margin-left:auto;margin-right:auto;text-align: center;">
                <h4>Be a part of the professional network. <a href="/Account/Register" class="btn btn-success"> Register here</a></h4>
            </div>
        }

    </div>
</div>
<div class="row" style="padding: 20px;">

    <div class="col col-md-6">
        <img src="/Content/images/bpid_cultural_night.jpg" alt="BPID cultural night" class="img-thumbnail">
    </div>
    <div class="col col-md-4">
        <p>
            <i>
                For the first time in Denmark, we are trying to arrange a fun networking night with comedy and music. 
                <br/>
                Renowned Bangladeshi standup comedian Naveed Mahboob and our own BPID star Nayeem will be performing.
                <br/>
                <b>Ticket Price 100 DKK (Individual) & 150 DKK (Family). Please bring your Yellow card to enter in Hall.</b>
            </i>
        </p>
        <p>
            <a href="https://www.facebook.com/events/265718164057747/" target="_blank"> <i class="fab fa-facebook-square"></i> See it in Facebook</a>
        </p>
    </div>
</div>

<div class="row">

    <div id="MemberName">
        <div class="lds-ellipsis" id="memberLoader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 30px; padding-bottom: 10px;">
    <div id="NoticeName"></div>
</div>

<script>
    $(document).ready(function () {
        $("#StartSearch").click(function () {

            var SearchText = $("#searchText").val().trim();
            if (SearchText !== "") {
                var url = "/search?text=" + SearchText.replace(/\s/g, "-");
                window.location.href = url;
            }
            if (!SearchText) {
                $('#common-message').html('<div class="alert alert-success"><strong> Ooppsss !</strong> Empty search text.</div>');
                $('#common-message').delay(400).slideDown(400).delay(4000).slideUp(400);
            }

        });
    });


</script>